/* body,page {margin: 0px;width: 100%;height: 100%;background: #fff;} */
.pqeBackgroundColorTestRed{background-color: rgba(125,0,0,0.5);}
.pqeBackgroundColorTestGreen{background-color: rgba(0,125,0,0.5);}
.pqeBackgroundColorTestBlue{background-color: rgba(0,0,125,0.5);}
.pqeBackgroundColorTestPink{background-color: rgba(255,192,203,0.5);}
.pqeBackgroundColorTestIndigo{background-color: rgba(75,0,130,0.5);}
.pqeBackgroundColorTestViolet{background-color: rgba(238,130,238,0.5);}
.pqeBackgroundColorTestYellow{background-color: rgba(255,255,0,0.5);}
.pqeBackgroundColorTestBlack{background-color: rgba(0,0,0,0.5);}

/* 颜色---------------------------------------------------------- */
.pqe-color-LightPink{color:#FFB6C1;}
.pqe-color-Pink{color:#FFC0CB;}
.pqe-color-Crimson{color:#DC143C;}
.pqe-color-LavenderBlush{color:#FFF0F5;}
.pqe-color-PaleVioletRed{color:#FFB6C1;}
.pqe-color-HotPink{color:#FF69B4;}
.pqe-color-DeepPink{color:#FF1493;}
.pqe-color-MediumVioletRed{color:#C71585;}
.pqe-color-Orchid{color:#DA70D6;}
.pqe-color-Thistle{color:#D8BFD8;}
.pqe-color-plum{color:#DDA0DD;}
.pqe-color-Violet{color:#EE82EE;}
.pqe-color-Magenta{color:#FF00FF;}
.pqe-color-Fuchsia{color:#FFB6C1;}
.pqe-color-DarkMagenta{color:#8B008B;}
.pqe-color-Purple{color:#800080;}
.pqe-color-MediumOrchid{color:#BA55D3;}
.pqe-color-DarkVoilet{color:#9400D3;}
.pqe-color-DarkOrchid{color:#9932CC;}
.pqe-color-Indigo{color:#4B0082;}
.pqe-color-BlueViolet{color:#8A2BE2;}
.pqe-color-MediumPurple{color:#9370DB;}
.pqe-color-MediumSlateBlue{color:#7B68EE;}
.pqe-color-SlateBlue{color:#6A5ACD;}
.pqe-color-DarkSlateBlue{color:#483D8B;}
.pqe-color-Lavender{color:#E6E6FA;}
.pqe-color-GhostWhite{color:#F8F8FF;}
.pqe-color-Blue{color:#0000FF;}
.pqe-color-MediumBlue{color:#0000CD;}
.pqe-color-MidnightBlue{color:#191970;}
.pqe-color-DarkBlue{color:#00008B;}
.pqe-color-Navy{color:#000080;}
.pqe-color-RoyalBlue{color:#4169E1;}
.pqe-color-CornflowerBlue{color:#6495ED;}
.pqe-color-LightSteelBlue{color:#B0C4DE;}
.pqe-color-LightSlateGray{color:#778899;}
.pqe-color-SlateGray{color:#708090;}
.pqe-color-DoderBlue{color:#1E90FF;}
.pqe-color-AliceBlue{color:#F0F8FF;}
.pqe-color-SteelBlue{color:#4682B4;}
.pqe-color-LightSkyBlue{color:#87CEFA;}
.pqe-color-SkyBlue{color:#87CEEB;}
.pqe-color-DeepSkyBlue{color:#00BFFF;}
.pqe-color-PowDerBlue{color:#B0E0E6;}
.pqe-color-CadetBlue{color:#5F9EA0;}
.pqe-color-Azure{color:#F0FFFF;}
.pqe-color-LightCyan{color:#E1FFFF;}
.pqe-color-PaleTurquoise{color:#AFEEEE;}
.pqe-color-Cyan{color:#00FFFF;}
.pqe-color-Aqua{color:#D4F2E7;}
.pqe-color-DarkTurquoise{color:#00CED1;}
.pqe-color-DarkSlateGray{color:#2F4F4F;}
.pqe-color-DarkCyan{color:#008B8B;}
.pqe-color-Teal{color:#008080;}
.pqe-color-MediumTurquoise{color:#48D1CC;}
.pqe-color-LightSeaGreen{color:#20B2AA;}
.pqe-color-Turquoise{color:#40E0D0;}
.pqe-color-Auqamarin{color:#7FFFAA;}
.pqe-color-MediumAquamarine{color:#00FA9A;}
.pqe-color-MediumSpringGreen{color:#00FF7F;}
.pqe-color-MintCream{color:#F5FFFA;}
.pqe-color-SpringGreen{color:#3CB371;}
.pqe-color-SeaGreen{color:#2E8B57;}
.pqe-color-Honeydew{color:#F0FFF0;}
.pqe-color-LightGreen{color:#90EE90;}
.pqe-color-PaleGreen{color:#98FB98;}
.pqe-color-DarkSeaGreen{color:#FFB6C1;}
.pqe-color-LimeGreen{color:#32CD32;}
.pqe-color-Lime{color:#FFB6C1;}
.pqe-color-ForestGreen{color:#228B22;}
.pqe-color-Green{color:#008000;}
.pqe-color-DarkGreen{color:#006400;}
.pqe-color-Chartreuse{color:#7FFF00;}
.pqe-color-LawnGreen{color:#7CFC00;}
.pqe-color-GreenYellow{color:#ADFF2F;}
.pqe-color-OliveDrab{color:#556B2F;}
.pqe-color-Beige{color:#F5F5DC;}
.pqe-color-LightGoldenrodYellow{color:#FAFAD2;}
.pqe-color-Ivory{color:#FFFFF0;}
.pqe-color-LightYellow{color:#FFFFE0;}
.pqe-color-Yellow{color:#FFFF00;}
.pqe-color-Olive{color:#808000;}
.pqe-color-DarkKhaki{color:#BDB76B;}
.pqe-color-LemonChiffon{color:#FFFACD;}
.pqe-color-PaleGodenrod{color:#EEE8AA;}
.pqe-color-Khaki{color:#F0E68C;}
.pqe-color-Gold{color:#FFD700;}
.pqe-color-Cornislk{color:#FFF8DC;}
.pqe-color-GoldEnrod{color:#DAA520;}
.pqe-color-FloralWhite{color:#FFFAF0;}
.pqe-color-OldLace{color:#FDF5E6;}
.pqe-color-Wheat{color:#F5DEB3;}
.pqe-color-Moccasin{color:#FFE4B5;}
.pqe-color-Orange{color:#FFA500;}
.pqe-color-PapayaWhip{color:#FFEFD5;}
.pqe-color-BlanchedAlmond{color:#FFEBCD;}
.pqe-color-NavajoWhite{color:#FFDEAD;}
.pqe-color-AntiqueWhite{color:#FAEBD7;}
.pqe-color-Tan{color:#D2B48C;}
.pqe-color-BrulyWood{color:#DEB887;}
.pqe-color-Bisque{color:#FFE4C4;}
.pqe-color-DarkOrange{color:#FF8C00;}
.pqe-color-Linen{color:#FAF0E6;}
.pqe-color-Peru{color:#CD853F;}
.pqe-color-PeachPuff{color:#FFDAB9;}
.pqe-color-SandyBrown{color:#F4A460;}
.pqe-color-Chocolate{color:#D2691E;}
.pqe-color-SaddleBrown{color:#8B4513;}
.pqe-color-SeaShell{color:#FFF5EE;}
.pqe-color-Sienna{color:#A0522D;}
.pqe-color-LightSalmon{color:#FFA07A;}
.pqe-color-Coral{color:#FF7F50;}
.pqe-color-OrangeRed{color:#FF4500;}
.pqe-color-DarkSalmon{color:#E9967A;}
.pqe-color-Tomato{color:#FF6347;}
.pqe-color-MistyRose{color:#FFE4E1;}
.pqe-color-Salmon{color:#FA8072;}
.pqe-color-Snow{color:#FFFAFA;}
.pqe-color-LightCoral{color:#F08080;}
.pqe-color-RosyBrown{color:#BC8F8F;}
.pqe-color-IndianRed{color:#CD5C5C;}
.pqe-color-Red{color:#FF0000;}
.pqe-color-Brown{color:#A52A2A;}
.pqe-color-FireBrick{color:#B22222;}
.pqe-color-DarkRed{color:#8B0000;}
.pqe-color-Maroon{color:#800000;}
.pqe-color-White{color:#FFFFFF;}
.pqe-color-WhiteSmoke{color:#F5F5F5;}
.pqe-color-Gainsboro{color:#DCDCDC;}
.pqe-color-LightGrey{color:#D3D3D3;}
.pqe-color-Silver{color:#C0C0C0;}
.pqe-color-DarkGray{color:#A9A9A9;}
.pqe-color-Gray{color:#808080;}
.pqe-color-DimGray{color:#696969;}
.pqe-color-Black{color:#000000;}